@import './reset.css';
@import './variables.scss';
@import 'https://fonts.googleapis.com/css2?family=Sora:wght@400;500&family=Source+Code+Pro:wght@500;600&family=Space+Grotesk&family=Yantramanav:wght@100;300;700&display=swap';

$font-path: '../../fonts/Gotham' !default;

@font-face {
	src: url('../../fonts/Gotham/Gotham-Bold.otf');
	font-family: 'GothamBold';
	font-weight: 350;
}

body {
	margin: 0;
	font-family: 'Sora', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg1;
	color: $white;
	line-height: normal;
	
}
