@import '../../../../../assets/style/variables.scss';

.result {
	width: 50%;
	.head {
		padding: 42px 40px 20px 40px;
		h4 {
			@include typography4;
			margin: 15px 0 3px 0;
		}
		p {
			@include typography8;
			color: $grey3;
		}
		border-bottom: 1px solid rgba($grey7, 0.1);
	}
	.container {
		padding: 21px 40px 20px 40px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 21px 10%;
		grid-template-areas:
			'. . .'
			'. . .';
	}
}
.element {
	h6 {
		@include typography8;
		color: $grey3;
	}
	p {
		@include typography5;
		color: $grey5;
	}
}
